body {
  font-size: 16px;
  color: #000000;
  background-color: #E5EDF1;
  font-family: 'Lora', serif;
}

/** HEADER **/

#header-nav {
  background-color: #96C2DB;
  border-radius: 0;
  border: 0;
}

.container{
  padding-bottom: 10px;
}

.navbar-brand {
  padding-top: 25px;

}
.navbar-brand h1 { /* Restaurant name */
  color: #000000;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #3e3e3e;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #000000;
  text-align: center;
}
#nav-list a:hover {
  background: #E5EDF1;
}
#nav-list a span {
  font-size: 1.8em;
}
/* END HEADER */

/* CONTENT  */

#main-content{
  text-align: center;
}

#card {
  border: 1px solid black;
  background-color: #96C2DB;
  margin-bottom: 50px;
}

.row h1{
  color: #000000;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: semibold;
  text-shadow: 1px 1px 1px #3e3e3e;
}

.row h2{
  color: #000000;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: semibold;
  text-shadow: 1px 1px 1px #3e3e3e;
}

.row p{
  color: #000000;
  font-size: .9em;
  font-weight:lighter;
}
/* END CONTENT */

/********** Large devices only **********/


/********** Medium devices only **********/


/********** Small devices only **********/


/********** Extra small devices only **********/
